:root {
    --back-color: #FFF;
    --main-color: #1b262c;
    --second-color: #0f4c75;
    --third-color: #3282b8;
    --fourth-color: #bbe1fa;
}

.btn-nightmode-change {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: var(--main-color);
    font-size: 1rem;
    cursor: pointer;
}

.btn-nightmode-change * {
    color: var(--back-color);
}

body {
    background: var(--back-color);
}

body.night {
    --back-color: #1b262c;
    --main-color: #E4D9D3;
}

/*CLASSE GLOBAL DE LINKS*/
a,
a * {
    padding: 5px;
    color: var(--main-color);
}

a:hover, a:hover * {
    background: var(--second-color);
    color: var(--fourth-color);
}

/*GRID PRINCIPAL*/
.content {
    display: block;
    max-width: 980px;
    margin: auto;
}

/*HEADER*/
.main-header {
    display: block;
    margin: 2rem 0;
}

.main-header h1 {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 0 0 var(--third-color), -2px 0 0 var(--fourth-color);
}

.main-header h1 strong, .main-header h1 small {
    color: var(--main-color);
    display: block;
}

.main-header h1 small {
    font-size: 1rem;
}

.main-header ul {
    display: flex;
}

.main-header .social ul {
    margin-top: .5rem;
    justify-content: center;
}

.main-header .social ul li a {
    font-size: 1.3rem;
}

.main-header .main-nav ul {
    margin-top: 1rem;
    justify-content: space-around;
}

.main-header .main-nav ul a {
    text-transform: uppercase;
    font-weight: 600;
}

/*FORMAÇÃO*/